[flake8]
# Игнорируемые ошибки (например, E203 для совместимости с Black)
ignore = E203, E266, E501, W503
# Максимальная длина строки
max-line-length = 119
# Максимальная цикломатическая сложность кода
max-complexity = 10
# Папки и файлы, которые не нужно проверять
exclude =
    .git,
    __pycache__,
    build,
    dist,
    venv,
    .venv